@use '../../index.scss';

input {
    box-sizing: border-box;
}


.input {
    outline: none;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid #7F7F7F;
    border-radius: 5px;
    background: #FFF;
    cursor: text;
    transition: all .2s ease-in;

    >* {
        max-height: 39px;
    }

    &:focus-within {
        outline: 1px solid #025EA1;
        border: 1px solid #025EA1;
    }

    &:focus {
        outline: none;
        outline: 1px solid #025EA1;

    }

    & input {
        outline: none;
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        border: none;
        width: 100%;
        display: inline-flex;
        padding: 0;
        margin: 0;
    }

    & button {
        max-width: fit-content;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    & img {
        width: 22px;
        height: 18px;
        flex-shrink: 0;
    }
}