@use "../../index.scss";

.button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.09s ease-in-out;
  border: none;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &.v1 {
    border-radius: 5px;
    border: 1px solid #6cace4;
    background: #fff;
  }

  &.v1:hover {
    border-radius: 5px;
    background: #6cace4;
    color: white;
  }

  &.v1:active {
    border-radius: 5px;
    background: #369bf3;
    color: white;
  }

  &.v2 {
    border-radius: 5px;
    border: 1px solid #025ea1;
    background: #fff;
  }

  &.v2:hover {
    border-radius: 5px;
    background: #025ea1;
    color: white;
  }

  &.v2:active {
    border-radius: 5px;
    background: #004273;
    color: white;
  }

  &.v3 {
    border-radius: 5px;
    border: 1px solid #ce4c4c;
    background: #fff;
  }

  &.v3:hover {
    border-radius: 5px;
    background: #ce4c4c;
    color: white;
  }

  &.v3:active {
    border-radius: 5px;
    background: #ce4c4c;
    color: white;
  }

  &.v4 {
    border-radius: 5px;
    border: 1px solid #1e4705;
    background: #fff;
  }

  &.v4:hover {
    border-radius: 5px;
    background: #1e4705;
    color: white;
  }

  &.v4:active {
    border-radius: 5px;
    background: #1e4705;
    color: white;
  }
  &.withIcon > img {
    width: 20px;
    height: 20px;
  }

  &.text {
    border-radius: 5px;
    background: #fff;
  }

  &.text:hover{
    background: rgba(0, 0, 0, 0.2);
  }

  &.text:active {
    transform: scale(0.97);
  }

  &.textUnderline {
    border-radius: 5px;
    background: #fff;
  }

  &.textUnderline:hover {
    border-radius: 5px;
    background: #fff;
    text-decoration: underline;
  }

  &.textUnderline:active {
    transform: scale(0.97);
  }

  &.admin {
    border-radius: 5px;
    background: #ce4c4c;
    color: white;
  }

  &.manager {
    border-radius: 5px;
    background: #6cace4;
    color: white;
  }

  &.courier {
    border-radius: 5px;
    background: #004273;
    color: white;
  }
}
