.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
