.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    img {
      cursor: pointer;
    }
  }
}
