@use "../../index.scss";


.notify {
  user-select: none;
  cursor: pointer;
  z-index: 99;
  width: 30vw;
  text-align: left;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  opacity: 0;

  transition: all .3s;

  margin: 10px 0;

  // -webkit-box-shadow: 9px 9px 17px 4px rgba(34, 60, 80, 0.3);
  // -moz-box-shadow: 9px 9px 17px 4px rgba(34, 60, 80, 0.3);
  // box-shadow: 9px 9px 17px 4px rgba(34, 60, 80, 0.3);

  display: none;
  min-height: max-content;

  .icon {
    max-width: 50px;
    max-height: 50px;
  }

  .notifyBody {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;

    h5 {
      text-transform: uppercase;
    }
  }

  .headerLine {
    font-family: index.$fontStack-sanseSerif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &.active {
    opacity: 1;
    display: flex;
  }

  &.info {
    background-color: index.$color-primary;
  }

  &.warning {
    background-color: index.$color-yellow;
  }

  &.error {
    background-color: index.$color-red;
  }

  &.positive {
    background-color: index.$color-lightGreen;
  }

  &.grey {
    background-color: index.$color-grey-3;
  }
}



.notifyStackDiv {
  z-index: 98;
  width: max-content;
  text-align: left;
  position: absolute;
  color: white;

  top: 2vh;
  right: 2vw;

  max-height: 95vh;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .notify {
    width: 95vw;
  }
}