@use "../../index.scss";

header {
  user-select: none;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  flex: 0 0 auto;

  .divActions {
    width: 100%;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .divActionsButtons {
      display: flex;
      height: 65px;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
    }

    .divActionsButtons p {
      font-size: index.$fontSize-logo;
    }

    .divLogo {
      display: flex;

      a {
        display: flex;
        text-decoration: none;
        align-items: center;

        span {
          color: black;
        }

        &:active {
          span {
            color: black;
          }
        }
      }

      > a > img {
        display: inline;
      }

      > a > * {
        padding: 0 17px;
      }

      .divLogoLabel {
        font-size: index.$fontSize-logo;
        border-left: 1px solid black;
        max-height: min-content;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: max-content;
        .divLogoLabelSublabel {
          // color: black;
          color: index.$color-blue-2;
        }
      }
    }
  }

  .UserRoleAdmin {
    background: red;
  }
}

@media (max-width: 1200px) {
  header .divActions .divLogo > img {
    display: none;
  }

  header .divActions .divActionsButtons {
    display: none;
  }
}
