@use "../../index.scss";

header {
  user-select: none;
  border-bottom: 1px solid #003274;
  flex: 0 0 auto;
  justify-content: space-between;
  width: 100%;

  .divActions {
    padding: 5px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .divActionsButtons {
      display: flex;
      height: 65px;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
    }

    .divActionsButtons p {
      font-size: index.$fontSize-logo;
    }

    .divLogo {
      display: flex;

      .divLogoLink {
        display: flex;
        text-decoration: none;
        align-items: center;

        span {
          color: black;
        }

        &:active {
          span {
            color: black;
          }
        }
      }

      >.divLogoLink>img {
        display: inline;
      }

      >.divLogoLink>* {
        padding: 0 17px;
      }

      .divLogoLabel {
        font-size: index.$fontSize-logo;
        border-left: 1px solid black;
        max-height: min-content;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: max-content;

        .divLogoLabelSublabel {
          // color: black;
          color: index.$color-blue-2;
        }
      }
    }
  }

  .UserRoleAdmin {
    background: red;
  }
}

.listers {
  position: relative;
  z-index: 100;
}

.dropdownContent {
  position: absolute;
  top: 115%;
  right: 50%;
  transform: translateX(50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.2);

  transition: index.$defaultTransition;

  text-decoration: none;
  text-transform: none;
  color: index.$color-black;
  background-color: index.$color-white;

  border-radius: 5px;

  &:active {
    -webkit-box-shadow: 0px 5px 25px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 25px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 25px 2px rgba(34, 60, 80, 0.2);
  }
}