.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .thead {
    .tr {
      border-radius: 5px 5px 0px 0px;
    }
  }
  .tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border: 1px solid #025ea1;
    padding: 15px 20px;
  }

  .th,
  .td {
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    text-align: start;
  }
}
