@use "../../index.scss" as index;

.table {
  width: 100%;
  border-collapse: collapse;
  // margin-bottom: 20px;
  user-select: none;

  th,
  td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5vw;
  }

  th {
    text-align: center;
  }
}


.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  button {
    margin-left: 5px;
  }
}

.tableContainer {
  height: 80vh;
  max-height: 70vh;
  overflow-y: scroll;
  background-color: #eeeeee;
}

.tableHeader, thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.paginator {
  background-color: #d9d9d9;
  // margin-top: 30px;
  border: 1px solid #ddd;
  min-width: 100%;

  display: flex;
  justify-content: space-between;

  .element {
    font-size: .8em;
    box-sizing: border-box;

    button {
      display: inline-flex;
      padding: 0px 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      outline: none;
      cursor: pointer;
      transition: all 0.09s ease-in-out;
    }

    input {
      width: 40px;
      text-align: center;
    }

    * {
      margin-left: 10px;
    }
  }
}

.operations {
  background-color: #d9d9d9;
  // margin-top: 30px;
  border: 1px solid #ddd;
  min-width: 100%;

  .element {
    font-size: .8em;
    box-sizing: border-box;

    input {
      width: 40px;
      text-align: center;
    }

    * {
      margin-left: 10px;
    }
  }

  button {
    background: none !important;
  }
}

.inputs {
  margin-top: 5px;
  // margin-left: auto;
  // margin-right: auto;

  .someInput {
    display: flex;
    margin-left: 10px;

    td {
      width: auto;
      min-width: 45%;
      margin: 5px;

      span {
        font-size: 1.2em;
      }
    }
  }
}